header {
    background:#fffcd5 ;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 30px;
}

nav a {
    text-transform: uppercase;
    color: #ff8484;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}