o
    body  {

        background: #dffffd;
        width: 100%;
        height: 100%;
    }

    #banner { 
        
       align-items: center; 
        width: 50%;
        margin-left: 25%

       
    } 

    .titulo-principal {

        padding-left: 50px;
    }


    .titulo-centralizado {
       text-align: center;
       text-align: center;
       height: 150px;
       border: 2px solid;
       padding-top: 20px;
       margin: 40px;
    }
    
   p {
        text-align: center;
    
    }

    #missao {
        font-size: 20px
    }

   em strong {
        color: rgb(255, 165, 81);
    }

    .itens {
        font-style: italic;
     }

    .Beneficios {
    background-color: rgba(255, 226, 248, 0.863) ;


 }

 .imagembeneficios{

    align-items: center; 
    width: 50%;
    margin-left: 25%
 }